allure-pytest==2.6.5
allure-python-commons==2.6.5
atomicwrites==1.4.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
decorator==5.0.6
py==1.10.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.3
pytest-html==3.1.1
pytest-metadata==1.11.0
python-dateutil==2.8.1
regex==2021.4.4
requests==2.25.1
selenium==3.141.0
threadpoolctl==2.1.0
toml==0.10.2
urllib3==1.26.4
webdriver-manager==3.4.2
